
<!DOCTYPE html>
<html>
<head>
    <title>Create a email and Password to be associated with survey. </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
            <button type="button" onclick="window.location.href='/register'">Register</button>
        </form>
        {% if message %}
    <p>{{ message }}</p>
{% endif %}
   
    </div>
</body>

</html>