<div>
    <link href="./home.css" rel="stylesheet" />
    <div class="home-container">
      <div class="home-banner">
        <span class="home-school-name">School Name</span>
        <h1 class="home-survey-title SurveyTitle">Survey Title</h1>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="home-user-icon"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="home-school-icon"
        />
      </div>
      <h1 class="home-radio-question">
        <span>Question 1</span>
        <br />
      </h1>
      <div class="home-ques1">
        <div class="app-component-container app-component-root-class-name2">
          <input
            type="radio"
            name="radio"
            class="app-component-radiobutton button"
          />
        </div>
        <span class="home-text2">Text</span>
      </div>
      <div class="home-ques2">
        <div class="app-component-container app-component-root-class-name">
          <input
            type="radio"
            name="radio"
            class="app-component-radiobutton button"
          />
        </div>
        <span class="home-text3">Text</span>
      </div>
      <div class="home-ques3">
        <div class="app-component-container app-component-root-class-name3">
          <input
            type="radio"
            name="radio"
            class="app-component-radiobutton button"
          />
        </div>
        <span class="home-text4">Text</span>
      </div>
      <div class="home-ques4">
        <div class="app-component-container app-component-root-class-name4">
          <input
            type="radio"
            name="radio"
            class="app-component-radiobutton button"
          />
        </div>
        <span class="home-text5">Text</span>
      </div>
    </div>
  </div>
  