
    <a href="{% url 'survey_detail' survey.id %}">{{ survey.title }}</a><br>
{% block content %}
  <h1>{{ survey.title }}</h1>

  <form method="post">
    {% csrf_token %}
    {% for question in survey.question_set.all %}
      <p>{{ question.text }}</p>
      {% if question.type != 'text' %}
        {% for option in question.option_set.all %}
          <input type="{{ question.type }}" name="question_{{ question.id }}" value="{{ option.id }}">
          <label>{{ option.text }}</label><br>
        {% endfor %}
      {% else %}
        <input type="text" name="question_{{ question.id }}"><br>
      {% endif %}
    {% endfor %}
    <input type="submit" value="Submit Survey">
  </form>

{% endblock %}