 <style>
        body {
            background-color: lightgrey;
            font-family: "Times New Roman", Times, serif;
        }
        .banner {
            background-color: darkred;
            height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
        .question {
        margin-bottom: 20px;
    }
    </style>

<form method="POST">
    {% csrf_token %}
    <label type="text"> Please answer honestly to your best ability!</label>
    <h1>{{ survey.title }}</h1>
    {% for question in survey.questions.all %}
        <div class="question">
            <label for="question_{{ question.id }}">{{ question.text }}</label>
            {% if question.type == 'multiple_choice' %}
                {% for option in question.options.all %}
                    <div class="option">
                        <input type="radio" id="option_{{ option.id }}" name="question_{{ question.id }}" value="{{ option.id }}">
                        <label for="option_{{ option.id }}">{{ option.text }}</label>
                    </div>
                {% endfor %}
            {% elif question.type == 'all_that_apply' %}
                {% for option in question.options.all %}
                    <div class="option">
                        <input type="checkbox" id="option_{{ option.id }}" name="question_{{ question.id }}" value="{{ option.id }}">
                        <label for="option_{{ option.id }}">{{ option.text }}</label>
                    </div>
                {% endfor %}
            {% elif question.type == 'text' %}
                <div class="option">
                    <textarea id="question_{{ question.id }}" name="question_{{ question.id }}" rows="4" cols="50"></textarea>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" style="margin-top: 20px;">
</form>
<script> 
