 <style>
        body {
            background-color: lightgrey;
            font-family: "Times New Roman", Times, serif;
        }
        .banner {
            background-color: darkred;
            height: 50px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    </style>

{% for survey in surveys %}
    <a href="{% url 'take_survey' survey.id %}">{{ survey.title }}</a><br>
    {% for question in survey.question_set.all %}
        <p>{{ question.text }}</p>
    {% endfor %}
{% endfor %}
<!-- add a button that redirects to creat_survey-->
<form>
<% csrf_token%>


