<style>
    .survey-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .survey-list li {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .survey-list li a {
        text-decoration: none;
        color: #333;
    }
    .survey-list li a:hover {
        color: #007BFF;
    }
</style>

{% for survey in surveys %}
    <a href="{% url 'survey_detail' survey.id %}">{{ survey.title }}</a><br>
    {% for question in survey.question_set.all %}
        <p>{{ question.text }}</p>
        {% if question.type != 'text' %}
            {% for option in question.option_set.all %}
                <p>{{ option.text }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
<!-- add a button that redirects to creat_survey-->
<form>
<% csrf_token%>
</form> <button type="button" onclick="window.location.href='/survey/createsurvey'">Create Survey</button>

